/* @import '~mdb-ui-kit/css/mdb.min.css'; */
.user_wrapper {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .user_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user_detail {
    display: flex;
    align-items: center;
  }
  .user_detail h4 {
    margin-left: 10px;
  }
  /* .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--color-4);
  } */
  .unread {
    margin-left: 10px;
    background: var(--color-3);
    color: white;
    padding: 2px 4px;
    border-radius: 10px;
  }

  /* .messages {
    height: calc(100vh - 200px);
    overflow-y: auto;
    border-bottom: 1px solid var(--color-6);
  }
  .message_wrapper {
    margin-top: 5px;
    padding: 0px 5px;
  }
  .message_wrapper img {
    width: 100%;
    border-radius: 5px;
  }
  .message_wrapper p {
    padding: 10px;
    display: inline-block;
    max-width: 50%;
    text-align: left;
    border-radius: 5px;
  }
  .message_wrapper small {
    display: inline-block;
    margin-top: 15px;
    opacity: 0.8;
  }
  .message_wrapper.own {
    text-align: right;
  }

  @media screen and (max-width: 767px) {

    .message_wrapper p {
      max-width: 75%;
    }
  }
  
  @media screen and (max-width: 576px) {

    .message_wrapper p {
      max-width: 100%;
    }
  } */
